#about {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vw;
}
#bio-container {
  box-sizing: border-box;
  width: 384px;
  margin-left: 2vw;

}

#bio {
  font-size: 130%;
}

#potrait-container {
  height: 550px;
  width: auto;
  margin-right: 2vw;
  padding: 1vh;
}

#potrait {
  max-width: 100%;
  max-height: 100%;
}


@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #about {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
    }
    #bio-container {
      box-sizing: border-box;
      width: 90%;
      margin: 0 0 1vh;
    }
    h2 {
      font-size: 140%;
      margin: 0 0 1.5vh;
    }
    #bio {
      font-size: 102%;
      margin: 0;
    }

    #list {
      margin-top: 2vh;
    }

    #potrait-container {
      height: auto;
      width: 58%;
      margin: 0;
      padding: 1vh;
    }

    #potrait {
      max-width: 100%;
      max-height: 100%;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {

}



