#navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#nav-options {
	padding-left: 0%;
	list-style-type: none;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	width: 100%;
}

.nav-item {
	opacity: .6;
}

.nav-item:hover {
	opacity: 1;
	font-weight: 550;
	font-size: 125%;
}


@media (max-width: 750px) {
	#nav-options {
		display: none;
	}
}
